/.venv
**/.DS_STORE
**/*.pyc
.vscode/
*.egg-info/
media/
saved_models/
/*.yml
!config/*.yml
wandb/
__pycache__/
TODO
datasets/*
!datasets/emojis_base
save_output/*
.venv
.vscode
*.json
experiments_results/*
*.gif
*.mp4
*.avi
*.mov
test/
*.csv
*.png
!data/**/*.png
src/experiments/exp olds/**
visuals_paper/
_archive/
!data/RD_parameters.json
test_blastocyst/*
test_schelling/*
test_gray_scott/*
test_RD/*